*{
    margin: 0;
    padding: 0;

}

body{
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header header header" 
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";

}
.contenedor > div,
.contenedor .header, 
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: white;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    *background: black;
    color:white;
    *grid-column-start:1 ;
    *grid-column-end: -1;
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 300px;
    background: url("../img/mandos-realidad-virtual.jpg") center no-repeat;
	background-size: cover;
	text-align: center;
}
.general{
    transition: transform .3s;
}
.general:hover{
    transform: scale(1.1);
}
.tamanioFuente{
    font-size: 2em!important;
}
.colorFuente{
    color: black!important;
}
.cabecera h2{
    color: #E03C3C;
    font-weight: 100;
}

.contenedor .contenido{
    *grid-column: span 2;
    grid-area: contenido;
}
.contenedor .sidebar{
    *grid-column:3 / 4;
    background: #ff000059;
    text-align: center;
    display:flex;
    *align-items: center;
    justify-content: center;
    *grid-row: span 2;
    grid-area:sidebar;
}
.contenedor .widget-1,
.contenedor .widget-2{
    color: white;
    background:blue;
    height: 100px;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contenedor .widget-1{
    grid-area: widget-1;
}
.contenedor .widget-2{
    grid-area: widget-2;
}
.contenedor .footer{
    background:#F5F5F7;
    color:white;
    *grid-row: span 3;
    grid-area:footer;
}
.contenedor .footer .organizar{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contenedor .organizar h3{
    font-weight: 100;
}
.contenedor .footer div{
    margin: 10px;
    line-height: 1.5;
}
.contenedor .footer .copias{
    text-align: center;
    color: gray;
}
@media screen and (max-width:768px){
    .contenedor{
        grid-template-areas:"header header header" 
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-1 widget-2 "
        "footer footer footer";
    }
}
    /*
@media screen and(max-width: 768px){
    body{
        background:black;

    }
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
    .contenedor .sidebar{
        grid-column:1/-1;

    }
    .contenedor .widget-1{
        grid-column: span 2;
    }
}
*/