/*

    FACTORIA F5 - FUNDACIÓN TOMILLO
    FECHA DE INICIO: 27-03-2023
    FECHA DE FIN: 03-04-2023
    FORMADOR: Ana / Jorge
    ALUMNO: Juan Carlos Macías Salvador
    DESCRIPCIÓN: Desarrollar una página web con html, css (usar grip y flex) y javascript, temática libre.

*/

body {
    color: #797979;
    background: #eeeeee;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px !important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;

}

.principal {
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    /*
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, auto);
    */
    grid-template-rows: 5vh 87vh 5vh;
    /*
    grid-template-areas:"header header header" 
    "widget-1 widget-1 widget-1"
    "footer footer footer";
    */
    grid-template-areas: "header"
        "widget-1"
        "footer";
}

.principal header {
    color: white;

    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.principal footer {
    *background: #2a2aaa;
    color: white;
    grid-area: footer;
    display: flex;
    align-items: baseline;
    height: 25px;
    justify-content: center;
    font-size: 1.5em;
}

.principal main {
    color: white;
    height: 88vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: widget-1;
    flex-wrap: wrap;
}

.principal main div {
    margin: 25px;
    width: auto;
}

.hexagono {
    position: relative;
    display: block;
    background-color: #28AFFA;
    width: 332px;
    height: 200px;
    z-index: 999;
    *border: 1px solid #000;
    border-radius: 5%;
    transition: all .5s ease-out;
}

.hexagono:hover {
    cursor: pointer;
    box-shadow: 13px 5px 10px #485299b8;
    transform: scale(1.1);
    transition: all .5s ease-out;
}

.hexagono:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    transform: rotate(60deg);
    background-color: inherit;
    border-radius: 5%;
}

.hexagono:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    transform: rotate(-60deg);
    background-color: inherit;
    border-radius: 5%;
}

.hexagono-content {
    position: absolute;
    z-index: 1000;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
}

.sombra {
    text-shadow: 6px 4px 6px #161515c9;
}

.hexagono-content strong {
    display: block;
}

.escribirtexto {

    width: 87vw !important;
}

#texto {
    font-size: 3em;
    display: none;
    transition: opacity 2s linear;
    transition: all 1.5s ease-out;
    text-align: center;
}

#mostrartxt {
    height: 100px;
    width: 100px;
}

#estado, .cabecera {
    margin: 10px 40px;
    font-size: 2em;
}

.cabecera h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em !important;
}

#mostrar {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#mostrar div {
    font-size: 2em;
    border: solid 1px grey;
    padding: 10px;
    margin: 10px;
}

#palabraPuesta {
    width: 95%;
    font-size: 1.5em;
    padding: 10px;
}

.comprobar button {
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 17px;
    background: aquamarine;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 1.5em;
}

.btn {
    width: 99%;
    font-size: 1.5em;
    padding: 10px;
}

.fa-search-plus {
    font-size: 1.5em !important;
    color: green !important;
    margin: 5px;
}

.efecto {
    transition: all .5s ease-out;
}

.efecto:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .5s ease-out;
}

.seccion_A {
    margin: 15px;
}

.seccion_A p {
    font-size: 1.6em;
}

.seccion_A #nombre {
    width: 99%;
    padding: 5px;
    font-size: 1.5em;
    margin: 10px 0px;
}

.si,
.no {
    width: 48%;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 13px 5px 10px #485299b8;
}

.si {
    background-color: aquamarine;
}

.no {
    background-color: coral;
}

/*VENTANA EMERGENTE*/

.fondoModal_A{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    display: none;
    z-index: 9999;
    animation: fadeInFromNone 1s ease-out; 
}

.contenedorModal_A {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoModal_A h2,
.contenidoModal_B h2, .contenidoModal_C h2 {
    font-size: 1.5em;
}

.contenidoModal_A,
.contenidoModal_B, .contenidoModal_C {
    animation-duration: 1s;
    animation-name: slidein;
    display: none;
    /*tanto el fondo como el contenido modal se ocultan para luego mostrar el contenido tras cargar el fondo*/

    flex-basis: 50%;

    padding: 20px;

    border-radius: 15px;
    background: #f7f9fb;

}
.contenidoModal_C ul{
    margin: 30px;
    font-size: 2.2em;
}

@media screen and (max-height:740px){
    .hexagono {
        width: 140px!important;
        height: 85px!important;
    }
}
@media screen and (max-width:768px){
    .hexagono {
        width: 160px;
        height: 97px;
    }
    .hexagono:hover {
        cursor: default;
        box-shadow: unset;
        transform: unset;
        transition: unset;
    }
    .principal main div {
        margin: 25px;
        width: auto;
    }
    .cabecera h1 {

        font-size: 0.6em !important;
    }
    .principal {
        height: 100vh;
        grid-gap: 5px;
        grid-template-rows: 5vh 91vh 5vh;

    }
    .principal footer{
        font-size: 0.5em;
    }
    #texto{
        font-size: 0.6em;
    }
    .escribirtexto{
        width: 65vw!important;
    }
    .contenidoModal_A, .contenidoModal_B, .contenidoModal_C {
        flex-basis: auto;
    }
    .cabecera {
        margin: 10px 20px;
    }
    .contenidoModal_C ul {
        margin: 30px;
        font-size: 1.2em;
    }
}
@media screen and (max-width:820px){

    .principal {
        height: 100vh;
        grid-gap: 5px;
        grid-template-rows: 5vh 91vh 5vh;

    }
    .principal footer{
        font-size: 0.8em;
    }
    #texto{
        font-size: 1em;
    }
    .escribirtexto{
        width: 65vw!important;
    }
}
@keyframes slidein {
    from {
        transform: scale(0.0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}